{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row  mt-5">
        <div class="col-md-5 col-sm-6 ">
            <a href="{% url 'post-detail' object.pk %}" class="btn btn-light">Back to feed</a>
        </div>
    </div>
    
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="post">
                {% csrf_token %}
                <h5>are you sure?</h5>
                
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mt-3">
                        Delete
                    </button>
                </form>
                </div>
        </div>
    </div>

</div>

{% endblock  %}