{% extends 'landing/base.html' %}


{% block content %}

<div class="container">
    <div class="row  mt-5">
        <div class="col-md-3 col-sm-6 ">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <img src="{{ profile.picture.url}}" alt="" class="rounded-circle" width="100" height="100">

            
            <h3 class="py-2">{{ profile.name }}
                <span>
                    {% if request.user == user %}
                    <a href="{% url 'profile-edit' profile.pk %}" style="color:#333"><i class="fas fa-edit"></i></a>
                    {% endif %}
            </h3>
            {% if profile.bio %}
            <h6 class="py-2">@{{ profile.user.username }}</h6>
            {% endif %}

            {% if profile.bio %}
            <h6 class="py-2">{{ profile.bio }}</h6>
            {% endif %}

            {% if profile.date_birth %}
            <p class="py-1">{{ profile.date_birth }}</p>
            {% endif %}
 


            <div class="mb-3">
                <a style="text-decoration:none; color:#333;" href="{% url 'list-followers' profile.pk %}" class="post-link">Followers:{{ number_of_followers }}</a> 
                {% if user == request.user  %}
                {% else %}
                {% if  is_following %}
                <form method="post" action="{% url 'remove-followers' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'add-followers' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit">Follow</button>
                </form>
                {% endif %}
                
                {% endif %}
            </div>
            
        </div>
        
    </div>

    {% for post in posts %}
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom ">
            <p><a href="{% url 'profile' post.author.profile.pk %}" style="font-weight: bold; text-decoration:none;" class="text-dark">@{{ post.author }}</a> {{ post.created_on }}</p>
            <div class="position-relative">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image" style="max-width: 100%; height:auto; border-radius:10px; margin-bottom:10px">
                {% endif %}
            <p>{{ post.body }}</p>
            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div class="d-flex flex-row">
                <form method="post" action="{% url 'likes' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path}}">
                    <button style="background-color:transparent; border:none; box-shadow:none" type="submit">
                        <i class="far fa-thumbs-up"></i><span>{{ post.likes.all.count }}</span>
                    </button>
                </form>

                <form method="post" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path}}">
                    <button style="background-color:transparent; border:none; box-shadow:none" type="submit">
                        <i class="fas fa-thumbs-down"></i><span>{{ post.dislikes.all.count }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
